@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* Gradient animation */
.background-animate {
    background-size: 400%;

    -webkit-animation: GradientAnimation 3s ease infinite;
    -moz-animation: GradientAnimation 3s ease infinite;
    animation: GradientAnimation 3s ease infinite;
}

@keyframes GradientAnimation {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* Pulse animation */
.animate-pulse {
    animation: PulseAnimation 1.5s ease-in-out infinite !important;
}

@keyframes PulseAnimation {
    0% {
        opacity: 0.87;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 0.87;
        transform: scale(1);
    }
}
